# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
lib/
venv_*/

# Environment variables
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
chroma_db/
data/

chroma_db_local/

data_backup/

*.txt

!requirements.txt
