langchain
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
pypdf
chromadb
python-dotenv
beautifulsoup4
markdown
streamlit
yandexcloud
langfuse
ragas
langchain-ollama
rank_bm25
python-docx
